<h3>
  Tak co to bude?
</h3>

<table class="products-list">

  <tr class="product-line" ng-repeat="(key,line) in cart.items">
      <td>
          Tečkovaný blok
          <ul>
              <li>{{line.product.pageSize}}, {{line.product.numberOfPages}} listů</li>
              <li>
                  <span ng-if="line.product.hardCover">tvrdá vazba</span>
                  <span ng-if="!line.product.hardCover">měkká vazba</span>
                  <!--TODO 1.4 translate color-->
                  - {{line.product.color |colorTranslation}}

              </li>

              <li ng-if="line.product.text">text: {{line.product.text}}</li>
              <!--TODO 1.4 translate color-->
              <li ng-if="line.product.text">barva textu: {{line.product.textColor | colorTranslation}}</li>
              <li ng-if="line.product.corner || line.product.rubber">
                  <span ng-if="line.product.rubber">gumička</span><span ng-if="line.product.rubber && line.product.corner">, </span>
                  <span ng-if="line.product.corner">rožek</span>
              </li>
          </ul>
      </td>
      <td class="number-column">
          <input type="number" min="0" class="cart-product-count"
                size="4" ng-model="line.count" /> ks <br/>
          <small>{{line.price}} Kč za kus</small><br />
          <!--TODO 1.1 - add filter number-->
          <strong><span class="item-price">{{line.price * line.count | number}}</span> Kč celkem</strong>
      </td>
      <td class="remove-column">
          <button ng-click="cart.remove(key)">Odebrat</button>
      </td>
  </tr>
</table>

<div class="empty-cart" ng-if="cart.isEmpty()">
  <span>Nákupní košík je prázdný</span>
</div>

<h3>
  Doprava
</h3>

<div class="controls" id="post">
  <label class="radio">
    <input type="radio" ng-model="order.delivery_type" value="post"/> Česká pošta - dobírka - 90Kč
  </label>
  <label class="radio">
    <input type="radio" ng-model="order.delivery_type" value="post-prepaid" /> Česká pošta - platba předem - 60Kč
  </label>

</div>

<div class="total-price" ng-if="!cart.isEmpty()">
    <!--TODO 1.1 - add filter number-->
    Celkem {{getTotalPrice()| number}} Kč
</div>
