<h3>
  Kam Ti to můžeme poslat?
</h3>
<!--TODO 2.1 - name the form-->
<form class="form-horizontal" name="orderForm">
  <div class="form-group">
    <label>Jméno Příjmení</label>
    <div class="control">
      <input type="text" name="name" ng-model="order.name" placeholder="Vyplňte jméno a příjmení" required />
    </div>
  </div>
  <div class="form-group">
    <label>Ulice, číslo popisné</label>
    <div class="control">
        <input type="text" ng-model="order.street" placeholder="Vyplňte ulici, číslo popisné" required />
    </div>
  </div>	
  <div class="form-group">
    <label>Město</label>
    <div class="control">
        <input type="text" ng-model="order.city" placeholder="Vyplňte město" required />
    </div>
  </div>							
  <div class="form-group">
    <label>PSČ</label>
    <div class="control">
        <input type="text" ng-model="order.zip" placeholder="Vyplňte PSČ" name="zip" required ng-pattern="/^\d{3} ?\d{2}$/" />
        <p ng-show="orderForm.zip.$error.pattern && orderForm.zip.$dirty" class="help-block">PSČ zadej ve formátu 12345.</p>
    </div>
  </div>
  <div class="form-group">
    <label>E-mail</label>
    <div class="control">
        <input type="email" ng-model="order.email" name="email" ng-blur="orderForm.checkEmail = true" placeholder="Vyplňte e-mail" required />
      <p ng-show="orderForm.checkEmail && orderForm.email.$invalid" class="help-block error">Zadej email v platném formátu.</p>
    </div>
  </div>	

  <div class="form-group">
    <label>Poznámka</label>
    <div class="control">
      <textarea class="form-control" ng-model="order.note" placeholder="Chci Vám ještě něco vzkázat?"></textarea>
    </div>
  </div>

  <div class="form-group">
    <div class="control-only">
      <label class="checkbox">
        <input type="checkbox" ng-model="order.aggree" required/> Souhlasím s <a href="#shop-conditions" role="button" data-toggle="modal" required>podmínkami</a>
      </label>
    </div>
  </div>

  <div class="form-group">
    <div class="control-only">
        <div ng-show="orderForm.$valid && cart.isEmpty()" class="empty-cart-validation">Musíš přidat bloček do košíku.</div>
      <button type="button" class="send" ng-click="sendOrder()" ng-disabled="orderForm.$invalid || cart.isEmpty()">Objednat hned teď</button>
    </div>
  </div>
</form>