<div class="container" ng-controller="ProductCtrl">
  <h3>
    Jaký formát?
  </h3>
  <div class="format">
    <label class="option">
      <input type="radio" ng-model="product.pageSize" value="A5">
      A5 - 148 mm x 210 mm
      <span class="size-A5"></span>
    </label>
    <label class="option">
      <input type="radio" ng-model="product.pageSize" value="A4">
      A4 - 210 mm x 297 mm
      <span class="size-A4"></span>
    </label>
    <label class="option">
      <input type="radio" ng-model="product.pageSize" value="SQUARE">
      SQUARE - 205 mm x 205 mm
      <span class="size-square"></span>
    </label>
  </div>

  <h3>
    Kolik listů?
  </h3>
  <div class="pages">
    <em class="text">používáme kvalitní papír typu "old style" o váze osmdesát gramů, na který se báječně píše</em>
    <div class="slider">
      <div ui-slider type="number" min="25" max="75" step="5" ng-model="product.numberOfPages"></div>
    </div>
    <div class="number-of-pages">
      {{product.numberOfPages}}
    </div>
  </div>

  <h3>
    Jaké desky?
  </h3>
  <div class="cover">
    <div class="option">
      <label class="radio">
        <input type="radio" ng-model="product.hardCover" ng-value="true"> tvrdé desky
      </label>
      <ul>
        <li>praktické pro tvrdší zacházení</li>
        <li>lesklý laminovaný povrch</li>
        <li>natisknuté jméno může mít i barvu</li>
      </ul>
    </div>
    <div class="option">
      <label class="radio">
        <input type="radio" ng-model="product.hardCover" ng-value="false"> měkké desky
      </label>
      <ul>
        <li>přední strana z barevného kartonu</li>
        <li>zadní strana bílý tvrdý karton</li>
      </ul>
    </div>

    <div class="color">
      <div class="like-label">
        barva desek
      </div>
      <div>
          <div ng-color="getAvailableColors()" ng-model="product.color">
             <div class="box-color-chooser box-color-{{product.color}}"></div>
          </div>
      </div>
    </div>
  </div>

  <h3>
    Ještě něco navíc?
  </h3>
  <div class="properties">
      <div class="option">
          <div class="option-text-color" ng-if="product.hardCover">
             <input type="text" ng-model="product.text" class="form-control" placeholder="chci tam i napsat jméno"/>
            <span class="input-group-btn" ng-model="product.textColor" ng-color="colors.allColors">
              <button class="btn btn-default" type="button" >
                <span class="box-color-inline box-color-{{product.textColor}}"></span>
              </button>
            </span>
          </div>
      </div>
      <div class="option">
      <label class="checkbox">
        <input type="checkbox" ng-model="product.corner"> průsvitný rožek na desky
      </label>
      <ul>
        <li>na vizitky a poznámky od ostatních</li>
      </ul>
    </div>
    <div class="option">
      <label class="checkbox">
        <input type="checkbox" ng-model="product.rubber"> gumička přes vazbu
      </label>
      <ul>
        <li>nebude se Ti otevírat v batohu</li>
      </ul>
    </div>
  </div>

  <div class="result">
    <div class="price-box">
      <span id="product-price">{{getPrice(product)}}</span> Kč za kus
    </div>

    <div class="add-box">
      <div class="input-group">
        <input type="number" class="form-control" ng-model="count">
        <span class="input-group-btn">
          <button class="add-to-cart" type="button" ng-click="addToCart()">Vložit do košíku</button>
        </span>
      </div>
    </div>
  </div>
</div>