<h1>Objednávka - {{order.address.name}}</h1>
<h2>Adresa</h2>
<p class="lead">
   {{order.address.name}},{{order.address.street}}, {{order.address.zip}} {{order.address.city}} 
</p>

<h2>Obsah objednávky</h2>
  <div ng-repeat="(key, line) in order.cart">
      <span class="lead">Tečkovaný blok - {{line.count}} ks</span>
      <ul>
        <li>{{line.product.pageSize}}, {{line.product.numberOfPages}} listů</li>
        <li>
          <span ng-if="line.product.hardCover">tvrdá vazba</span>
          <span ng-if="!line.product.hardCover">měkká vazba</span>
          - {{line.product.color| colorTranslation}}

        </li>

        <li ng-if="line.product.text">text: {{line.product.text}}</li>
        <li ng-if="line.product.text">barva textu: {{line.product.textColor| colorTranslation}}</li>
        <li ng-if="line.product.corner || line.product.rubber">
          <span ng-if="line.product.rubber">gumička</span>
          <span ng-if="line.product.rubber && line.product.corner">, </span>
          <span ng-if="line.product.corner">rožek</span>
        </li>
      </ul>  
</div>
