<div class="orders">

  <div class="panel">
    <h3>Objednávky</h3>                        
  </div>
  <table>
    <tr>
      <th>Id</th>
      <th width="20%">Zákazník</th>
      <th width="25%" colspan="2">Email</th>      
      <th width="12%">Stav</th>
      <th class="price">Cena</th>
      <th>Datum odeslání</th>
      <th>Akce</th>
    </tr>     
    <tr>
      <td></th>
      <td>
        <input class="form-control" type="text" ng-model="search.name" />
      </td>
      <td colspan="2">
        <input class="form-control" type="text" ng-model="search.email" />
      </td>      
      <td>
        <select ng-model="search.status" class="form-control">
          <option value=""> -- </option>
          <option ng-repeat="(key,value) in statuses" value="{{key}}">{{value}}</option>           
        </select>
      </td>
      <td></td>
      <td></td>
      <td>
        <button class="btn btn-default btn-block" ng-click="search = {}">Reset</button>
      </td>
    </tr>  


    <tr ng-repeat="order in orders|filter:search" class="status-{{order.status}}">
      <td ng-bind="order.id"></td>
      <td ng-bind="order.name"></td>
      <td>
        {{order.email}}
      </td>
      <td>
        <button class="btn btn-link"ng-click="order.$notify()">Informovat</button>
      </td>      
      <td>
        <select class="form-control" ng-model="order.status" ng-change="order.$save()" ng-options="key as value for (key,value) in statuses" />          
      </td>
      <td class="price" ng-bind="order.priceSum | currency"></td>
      <td ng-bind="order.date | date : longDate"></td>
      <td>          
        <button class="btn btn-link"  ng-click="removeOrder(order)">Odstranit</button>
        <a ng-href="#/detail/{{order.id}}">Detail</a>
      </td>
    </tr>
  </table>
</div>