<!doctype html>
<html ng-app="teckovany" ng-cloak>
<head>
    <meta charset="utf-8">
    <title>Tečkovaný.cz</title>
    <link rel="stylesheet" href="css/app.css"/>
</head>
<body>

<div ng-if="!$root.sent">
    <div class="section product" ng-include="'partials/product.html'">
    </div>
    <div class="section order" ng-controller="OrderCtrl">
        <div class="container">
            <div class="cart" ng-include="'partials/cart.html'"></div>
            <div class="form" ng-include="'partials/form.html'"></div>
        </div>
    </div>
</div>

<div ng-if="$root.sent" class="section order-sent">
    <div class="container">
        <div class="message">
            <strong>Objednávka byla úspěšně odeslána</strong>, emailem dostaneš potvrzení
        </div>
        <div class="create-new-order">
            <button ng-click="$root.sent = !$root.sent">
                Chci vytvořit ještě další objednávku
            </button>
        </div>
    </div>
</div>

<script src="../bower_components/jquery/jquery.js"></script>
<script src="../bower_components/jquery-ui/ui/jquery-ui.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-ui-slider/src/slider.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<script src="../bower_components/angular-i18n/angular-locale_cs-cz.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/filters.js"></script>
<script src="js/directives.js"></script>
</body>
</html>