<div class="dropdown">
  <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#" >
    <div ng-transclude></div>
  </a>
  <ul class="dropdown-menu" role="menu">
      <li class="color-choser" ng-repeat="option in options" ng-click="setColor(option)">
        <div class="box-color box-color-{{option}}">
            <!--TODO 1.3 add color translation-->
            {{option|colorTranslation}}
        </div>
      </li>
  </ul>
</div>   